*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    background-color: #5A2D82;
    position: relative;
    right: 0;
}

.header .info{
    background-color: #370F53;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 13px;
}

.header .logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 25px 40px;
}

.header .frete{
    background-color: white;
    color: purple;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.img-principal{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    width: 100%; 
    height: 70vh; 
}

/* CAROUSEL */

.carousel-container{
    background-color: white;
}

.carousel-container .titulo{
    font-size: 21px;
    padding: 20px 30px;
}

.carousel{
    display: flex;
    max-width: 80%;
    margin: auto;
    background-color: white;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.carousel-container .carousel .produtos-container{
    max-width: 200px;
    padding: 10px;
}

.carousel .produtos-container .cap{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    transition: 1s;
    transform: scale(.9);
}

.carousel .produtos-container .desc{
    color: rgb(77, 77, 77);
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.carousel .produtos-container .old-price{
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: line-through;
}

.carousel .produtos-container .price{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: orangered;
    border-radius: 5px;
    max-width: 70%;
    margin: auto;
    padding: 2px;
    cursor: pointer;
}

.carousel-btn{
    display: flex;
    justify-content: center;
}

.btnleft, .btnright{
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.carousel::-webkit-scrollbar{
    display: none;
}

/* SKELETON */

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 2px;
}

.skeleton-text{
    width: 100%;
    height: .9rem;
    margin-bottom: .25rem;
    border-radius: 2px;
}

.skeleton-text:last-child{
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* CARRINHO COMPRAS */

.carrinho-icone{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background-color: purple;
    z-index: 2;
    cursor: pointer;
    padding: 5px;
}

.carrinho-aba{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background-color: #5A2D82;
    box-shadow: -5px 0 10px rgb(0, 0, 0, .4);
    transition: all ease-in-out 0.5s;
    font-size: 14px;
    z-index: 1;
}

.carrinho-titulo{
    font-size: 23px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #370F53;
}

.carrinho-itens{
    display: flex;
    flex-direction: column;
}

.item-nome{
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.carrinho-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid white;
}

.item-imagem{
    width: 70px;
}

.item-valor{
    font-size: 14px;
    color: white;
}

.carrinho-itens input[type='number']{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #370F53;
    padding: 2px;
    text-align: center;
    outline: none;
}

.item-remover{
    border: none;
    cursor: pointer;
    padding: 3px 6px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
}

.valor-compra{
    padding: 15px;
    color: white;
    font-weight: bold;
}

.finalizar-compra{
    border: none;
    cursor: pointer;
    padding: 6px 15px;
    background-color: #370F53;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}

.mostra-carrinho{
    width: 350px;
}

/* HISTORIA */

.historia{
    background-color: rgb(204, 197, 197, .2);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.historia .sobre{
    width: 300px;
    margin-right: 10px;
}

.historia .sobre .titulo{
    margin-bottom: 10px;
    text-align: center;
}

.historia .sobre .desc{
    width: 300px;
    text-align: justify;
    margin-right: 20px;
}

.historia .foto{
    width: 300px;
    margin-left: 10px;
}

.historia .foto img{
    width: 300px;
}

/* LOCALIZAÇÃO */

.localizacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.localizacaoo .titulo{
    font-size: 18px;
    margin-bottom: 5px;
}

.localizacao .desc{
    font-size: 15px;
    margin-bottom: 10px;
}

.localizacao .mapa{
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgb(0, 0, 0, .3);
}

/* RODAPÉ */

.bg{
    background-color: #272727;
}

.rodape-container{
   display: flex;
   justify-content: center;
   padding: 30px;
}

.rodape-container .ajuda, 
.rodape-container .sobre{
    margin: 0 5px 0 5px;
}

.rodape-container .ajuda .titulo, 
.rodape-container .sobre .titulo{
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

.rodape-container .ajuda .links, 
.rodape-container .sobre .links{
    list-style: none;
    list-style-type: none;
}

.rodape-container .ajuda .links a, 
.rodape-container .sobre .links a{
    color: rgb(204, 197, 197, .8);
    text-decoration: none;
    font-size: 12px;
}

/* MOBILE */

@media screen and (max-width: 550px){
    .history{
        display: block;
    }

    .history-desc, .history-picture{
       margin: auto;
    }

    .history-desc{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 470px){
    .footer-help-title, .footer-about-title{
        font-size: 12px;
    }
    
    .footer-help-link a, .footer-about-link a{
        font-size: 9px;
        
    }
}