*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.frete-title{
    background: linear-gradient(45deg, white, rgb(177, 2, 177), purple);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 13px;
}

#header{
    width: 100%;
    background-color: #272727;
    position: relative;
    right: 0;
}

#logo{
    display: block;
    width: 200px;
    margin: auto;
    padding: 20px;
}

.products{
    background-color: white;
}

.carousel{
    display: flex;
    max-width: 80%;
    margin: auto;
    background-color: white;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.container-products{
    max-width: 200px;
    padding: 10px;
}

.title{
    color: #272727;
    font-size: 20px;
}

.cap{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    transition: 1s;
    transform: scale(.9);
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 2px;
}

.skeleton-text{
    width: 100%;
    height: .9rem;
    margin-bottom: .25rem;
    border-radius: 2px;
}

.skeleton-text:last-child{
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}



.desc{
    color: rgb(77, 77, 77);
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.old-price{
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: line-through;
}

.price{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: orangered;
    border-radius: 5px;
    max-width: 70%;
    margin: auto;
    padding: 2px;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
}

.btnleft, .btnright{
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px 0 5px;
}



.carousel::-webkit-scrollbar{
    display: none;
}

.bg{
    background-color: #272727;
}

.history{
    background-color: rgb(204, 197, 197, .2);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.history-desc{
    width: 300px;
    text-align: justify;
    margin-right: 10px;
}

.history-desc h2{
    margin-bottom: 10px;
    text-align: center;
}

.history-picture{
    width: 300px;
    margin-left: 10px;
}

.history-picture img{
    width: 300px;
}

/* localização */

.where{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.where-title{
    font-size: 18px;
    margin-bottom: 5px;
}

.where-desc{
    font-size: 15px;
    margin-bottom: 10px;
}

.where-map{
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgb(0, 0, 0, .3);
}

/* footer */

.footer{
   display: flex;
   justify-content: center;
   padding: 30px;
}

.footer-help, .footer-about{
    margin: 0 5px 0 5px;
}

.footer-help-title, .footer-about-title{
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

.footer-help-link, .footer-about-link{
    list-style: none;
    list-style-type: none;
}

.footer-help-link a, .footer-about-link a{
    color: rgb(204, 197, 197, .8);
    text-decoration: none;
    font-size: 12px;
    
}

.pict{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    width: 100%; 
    height: 100vh; 
}


/* popup */

.carrinho{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background-color: white;
    box-shadow: -5px 0 10px rgb(0, 0, 0, .4);
    transition: all ease-in-out 0.5s;
    font-size: 14px;
    z-index: 1;
}

.carrinho-title{
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.carrinho-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.carrinho-itens img{
    width: 70px;
}

.carrinho-itens input[type='number']{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid greenyellow;
    padding: 2px;
    text-align: center;
    outline: none;
}

.mostra-carrinho{
    width: 350px;
}

.carrinho-icon{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    background-color: orange;
    z-index: 2;
}

.carrinho-valores{
    padding: 15px;
    font-weight: bold;
}

/* responsividade */

@media screen and (max-width: 550px){
    .history{
        display: block;
    }

    .history-desc, .history-picture{
       margin: auto;
    }

    .history-desc{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 470px){
    .footer-help-title, .footer-about-title{
        font-size: 12px;
    }
    
    .footer-help-link a, .footer-about-link a{
        font-size: 9px;
        
    }
}